<h1> WELCOME TO OUR AWESOME BLOG READER BRO </h1>

<div id="authbuttons">
  <button class="loginbutton">LOG IN</button>
  <button class="signupbutton">SIGN UP</button>
</div>

<div id="form" class="hidden">
  <button class="gotoform"></button>
  <h3></h3>
  <form>
    <label for="username">Username</label>
    <input type="text" name="user[username]" id="username">
    <label for="password">Password</label>
    <input type="password" name="user[password]" id="password">

    <input type="submit" id="submit" value="">
  </form>
</div>
